<html>
  <!-- include head.ejs -->
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="lg:mx-8">
        
    </main>

    <!--==================== Footer starts=========================-->
    <%- include('./partials/footer.ejs') %>
    <!--==================== Footer ends=========================-->
  </body>
  <script src="/javascripts/main.js"></script>
</html>