<html>
  <!-- include head.ejs -->
  <%-include('./partials/head.ejs',{ title: 'CONTACT US || SHIV CREATIONS' })%>

  <body class="">
    <%- include('./partials/nav.ejs') %>

    <main>
      <!-- ABOUT US HERO -->
      <section>
        <div class="w-full relative p-0">
          <div
            class="w-full h-96 p-5 z-0 flex justify-center"
            style="
              background:
                linear-gradient(
                    rgba(128, 128, 128, 0.628),
                    rgba(234, 237, 240, 0)
                  )
                  0% 0% / cover,
                url('/images/Highlights/product1.jpg') center center repeat-x;
              width: unset;
              height: 80vh !important;
            "
          >
            <div class="w-full py-5">
              <div class="w-full pt-5 mt-5 text-center">
                <h1
                  class="text-5xl text-center mt-32 font-black mb-8 items-center text-white animate__animated animate__zoomIn"
                >
                  CONTACT US
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-[#f7f6f5d9]" id="contact">
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
          <div class="mb-4">
            <div
              class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12"
            >
              <h2
                class="font-heading mb-4 font-bold tracking-tight text-black text-3xl sm:text-5xl"
              >
                Get in Touch
              </h2>
              <p class="mx-auto mt-4 max-w-3xl text-xl text-gray-600">
                We are more than happy to help you with any queries or concerns.
              </p>
            </div>
          </div>
          <div class="flex items-stretch justify-center">
            <div class="grid md:grid-cols-2">
              <div class="h-full pr-6">
                <p class="mt-3 mb-12 text-lg text-gray-600">
                  Shivcreation we really value your feedback and suggestions. If
                  you have any questions or comments, please feel free to
                  contact us. We will get back to you as soon as possible.
                </p>
                <ul class="mb-6 md:mb-0">
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                        <path
                          d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                        ></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Our Address
                      </h3>
                      <p class="text-gray-500">
                        504, Vardhman Heights, opposite Sadhu Vaswani school,
                        Sadhu Vaswani Road,
                      </p>
                      <p class="text-gray-600">
                        Rajkot - 360005, Gujarat, India
                      </p>
                    </div>
                  </li>
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path
                          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                        ></path>
                        <path d="M15 7a2 2 0 0 1 2 2"></path>
                        <path d="M15 3a6 6 0 0 1 6 6"></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Contact
                      </h3>
                      <p class="text-gray-500">
                        Mobile:
                        <a
                          class="hover:underline hover:text-blue-500"
                          href="tel: +91 90999 40095"
                          >+91 90999 40095</a
                        >
                      </p>
                      <p class="text-gray-500">
                        Mail:
                        <a
                          class="hover:underline"
                          href="mailto:info@shivcreation.com"
                          >info@shivcreation.com</a
                        >
                      </p>
                    </div>
                  </li>
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M12 7v5l3 3"></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Working hours
                      </h3>
                      <p class="text-gray-600">
                        Monday - Friday: 08:00 - 17:00
                      </p>
                      <p class="text-gray-600">
                        Saturday &amp; Sunday: 08:00 - 12:00
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card h-fit max-w-6xl p-5 md:p-12" id="form">
                <h2 class="mb-4 text-2xl text-black font-bold">
                  Ready to Get Started?
                </h2>
                <!-- feedback div after submitting the form  -->
                <div
                  id="feedback"
                  class="text-center p-1 rounded-sm text-white"
                ></div>
                <form
                  method="post"
                  action="messages"
                  id="contact-us"
                  class="ml-auo space-y-4"
                >
                  <input
                    type="text"
                    placeholder="Name"
                    name="sender"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <input
                    type="text"
                    name="subject"
                    placeholder="Subject"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <textarea
                    placeholder="Message"
                    rows="6"
                    name="content"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  ></textarea>
                  <button
                    type="submit"
                    class="text-white bg-amber-500 hover:bg-amber-600 font-semibold rounded-md text-sm px-4 py-2.5 w-full"
                  >
                    Send
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--==================== Footer starts=========================-->
    <%- include('./partials/footer.ejs') %>
    <!--==================== Footer ends=========================-->

    <script src="/javascripts/slider.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('contact-us')
        const feedbackDiv = document.getElementById('feedback')
        console.log(form)
        form.addEventListener('submit', (e) => {
          e.preventDefault()
          const formData = new FormData(form)
          const sender = formData.get('sender')
          const email = formData.get('email')
          const subject = formData.get('subject')
          const content = formData.get('content')
          const message = {
            sender,
            email,
            subject,
            content,
          }
          // Create a new XMLHttpRequest object
          const xhr = new XMLHttpRequest()
          xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200 || xhr.status === 201) {
                // Create the paragraph element
                const successMessage = document.createElement('p')
                successMessage.classList.add(
                  'text-2xl',
                  'text-green-500',
                  'bg-amber-500',
                  'p-2',
                  'rounded-md',
                  'font-extralight',
                  'animate__animated',
                  'animate__pulse',
                  'animate__faster',
                  'animate__infinite',
                )
                successMessage.textContent = 'The message is sent successfully.'
                // Append the paragraph element to the feedbackDiv
                feedbackDiv.appendChild(successMessage)
                form.reset()
              } else {
                console.error('Request failed:', xhr.status)
              }
            }
          }

          // Configure the request
          xhr.open('POST', 'http://localhost:3000/messages/')
          xhr.setRequestHeader('Content-Type', 'application/json')

          // Send the request with JSON data
          xhr.send(JSON.stringify(message))
        })
      })
    </script>
  </body>
</html>
