<html>
  <!-- include head.ejs -->
  <%-include('./partials/head.ejs',{ title: 'HOME || SHIV CREATIONS' })%>

  <body>
    <%- include('./partials/nav.ejs') %>

    <!-- ===============Hero section starts ======================== -->
    <div
      id="default-carousel"
      class="relative w-full max-h-screen overflow-hidden hero"
      data-carousel="slide"
    >
      <!-- Carousel wrapper -->
      <div class="relative images p-2">
        <!-- Item 1 -->
        <div class="" data-carousel-item>
          <img
            src="/images/tree with leaves1.png"
            class="object-cover h-full sm:scale-75 w-full object-center"
            alt="Tree with leaves"
          />
        </div>
        <!-- Item 2 -->
        <div class="" data-carousel-item>
          <img
            src="/images/highlights/leaves.png"
            class="object-contain h-full w-full object-fit: scale-down"
            alt="..."
          />
        </div>
        <!-- Item 3 -->
        <div class="" data-carousel-item>
          <img
            src="/images/highlights/tree without leaves.png"
            class="object-contain h-full w-full object-fit:scale-down"
            alt="..."
          />
        </div>
        <!-- Item 4 -->
        <div class="" data-carousel-item>
          <img
            src="/images/highlights/sample.png"
            class="object-contain h-full w-full object-fit: scale-down"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider indicators -->
      <div
        class="absolute z-10 flex bottom-0 left-1/2 space-x-5 rtl:space-x-reverse"
      >
        <!-- button 1 -->
        <button
          type="button"
          class=""
          aria-current="true"
          aria-label="Slide 1"
          data-carousel-slide-to="0"
        ></button>
        <!-- button 2 -->
        <button
          type="button"
          class=" "
          aria-current="false"
          aria-label="Slide 2"
          data-carousel-slide-to="1"
        ></button>
        <!-- button 3 -->
        <button
          type="button"
          class="  "
          aria-current="false"
          aria-label="Slide 3"
          data-carousel-slide-to="2"
        ></button>
        <!-- button 4 -->
        <button
          type="button"
          class=" "
          aria-current="false"
          aria-label="Slide 4"
          data-carousel-slide-to="3"
        ></button>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
    <!--==================== Hero Section End=========================-->
    <main class="w-full overflow-hidden">
      <!-- ======================Introduction starts ========================== -->
      <section
        class="relative bg-slate-100 shadow-inner border-t-2 border-[#f5f8f9] mx-auto"
      >
        <div class="flex flex-wrap lg:mx-6 mx-1">
          <div class="lg:w-1/2 animate__animated animate__backInLeft">
            <h1 class="text-4xl font-semibold my-3 text-pretty text-gray-800">
              What is Gratitude Tree Kit ?
            </h1>
            <div
              class="bg-transparent shadow-sm grid lg:grid-cols-3 gap-0 grid-cols-1"
            >
              <!-- card 1 -->
              <div class="p-2 flex flex-row gap-1 border border-[#f5f2f2]">
                <div
                  class="lg:w-1/6 w-8 items-center h-8 text-center font-extrabold text-xl text-black rounded-lg shadow-2xl bg-blue-200"
                >
                  1
                </div>
                <div class="w-4/5">
                  <h2 class="text-black font-extrabold text-start">
                    Unique Tool to cultivate gratitude
                  </h2>
                  <p class="py-2 text-gray-600 text-balance">
                    The Gratitude Tree Kit is a unique tool designed to help you
                    cultivate a daily practice of gratitude.
                  </p>
                </div>
              </div>
              <!-- card 2 -->
              <div class="p-2 flex flex-row gap-1 border border-[#f5f2f2]">
                <div
                  class="lg:w-1/6 w-8 items-center h-8 text-center font-extrabold text-xl text-black rounded-lg shadow-2xl bg-blue-200"
                >
                  2
                </div>
                <div class="w-4/5">
                  <h2 class="text-black font-extrabold text-start">
                    Tree-shaped Display
                  </h2>
                  <p class="py-2 text-gray-600 text-balance">
                    It consists of a beautiful tree-shaped display that serves
                    as a visual representation of your gratitude journey
                  </p>
                </div>
              </div>
              <!-- card 3 -->

              <div class="p-2 flex flex-wrap gap-1 border border-[#f5f2f2]">
                <div
                  class="lg:w-1/6 w-8 items-center h-8 text-center font-extrabold text-xl text-black rounded-lg shadow-2xl bg-blue-200"
                >
                  3
                </div>
                <div class="w-4/5">
                  <h2 class="text-black font-extrabold text-start">
                    Vibrant Leaves
                  </h2>
                  <p class="py-2 text-gray-600 text-balance">
                    The kit also includes a set of Vibrant leaves, allowing you
                    to write down something you are grateful for each day.
                  </p>
                </div>
              </div>
              <!-- card 4 -->
              <div class="p-1 mb-1 flex flex-row gap-1 border border-[#f5f2f2]">
                <div
                  class="lg:w-1/6 w-8 items-center h-8 text-center font-extrabold text-xl text-black rounded-lg shadow-2xl bg-blue-200"
                >
                  4
                </div>
                <div class="w-4/5">
                  <h2 class="text-black font-extrabold text-start">
                    21 – Day Gratitude Challenge Sheet
                  </h2>
                  <p class="py-2 text-gray-600 text-balance">
                    In 21-day Gratitude Challenge sheet each day, you'll receive
                    simple prompts and to help you cultivate a consistent
                    gratitude practice.
                  </p>
                </div>
              </div>
              <!-- card 5 -->
              <div class="p-1 mb-1 flex flex-row gap-1 border border-[#f5f2f2]">
                <div
                  class="lg:w-1/6 w-8 items-center h-8 text-center font-extrabold text-xl text-black rounded-lg shadow-2xl bg-blue-200"
                >
                  5
                </div>
                <div class="w-4/5">
                  <h2 class="text-black font-extrabold text-start">
                    Transformative Power
                  </h2>
                  <p class="py-2 text-gray-600 text-balance">
                    Regular engagement with the Gratitude Tree Kit can help you
                    experience the transformative power of gratitude.
                  </p>
                </div>
              </div>
            </div>

            <button
              title="Buy the Tree Kit"
              class="inline-block lg:px-12 px-10 py-3 mb-4 text-2xl rounded-md bg-amber-500 text-white font-semibold hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 lg:mt-6 mt-4"
            >
              <a target="_blank" href="https://www.amazon.in/"
                >Buy the Tree Kit</a
              >
            </button>
          </div>
          <!-- Video Container -->
          <div class="lg:w-1/2 lg:my-16 my-4 mx-auto w-full">
            <video
              controls
              class="w-full rounded-none border-6 border-white"
              poster="/images/tumbnail.jpg"
              height="50%"
            >
              <source src="/images/video.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </section>
      <!-- ================== End of Introduction=================== -->

      <!--==================== Why Gratitude Tree Kit Starts=========================-->
      <section class="mx-auto w-full py-5 bg-amber-100 flex justify-center">
        <div class="flex flex-wrap gap-4 justify-start container mb-20">
          <div class="">
            <div class="w-full my-5">
              <h2 class="text-4xl font-semibold my-3 text-pretty text-gray-800">
                The Gratitude Tree Kit Includes:
              </h2>
              <div class="container mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <!-- Card 1 -->
                  <div
                    class="p-2 border shadow-sm rounded-lg flex items-center"
                  >
                    <img
                      src="/images/tree2.png"
                      alt="3D Design MDF Material Tree"
                      class="w-36 lg:w-56 lg:h-auto h-36 mr-4"
                    />
                    <div>
                      <h2 class="text-2xl text-gray-900 mb-3 font-semibold">
                        3D Design MDF Material Tree
                      </h2>
                      <p class="text-lg text-gray-800">
                        The intricate branches of our 3D MDF Material Tree
                        create a stunning, lifelike appearance that adds depth
                        and character to any room.
                      </p>
                    </div>
                  </div>
                  <!-- Card 2 -->
                  <div
                    class="p-2 border shadow-sm rounded-lg flex items-center"
                  >
                    <img
                      src="/images/leaves.png"
                      alt="30 colourful thick paper leaves"
                      class="w-36 lg:w-56 lg:h-auto h-36 mr-4"
                    />
                    <div>
                      <h2 class="text-2xl text-gray-900 mb-3 font-semibold">
                        30 colourful thick paper leaves
                      </h2>
                      <p class="text-lg text-gray-800">
                        The leaves feature a vibrant, nature-inspired design
                        that complements the tree's rustic aesthetic.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="flex lg:justify-center justify-start">
                  <div class="mt-4 lg:w-2/3 w-full">
                    <!-- Card 3 -->
                    <div
                      class="p-2 border shadow-sm rounded-lg flex items-center"
                    >
                      <img
                        src="/images/21-day-challenge-sheet.jpg"
                        alt="21-Day Gratitude Challenge Sheet"
                        class="w-36 lg:w-96 p-1 lg:p-4 lg:h-auto h-36 mr-4"
                      />
                      <div>
                        <h2 class="text-2xl text-gray-900 mb-3 font-semibold">
                          21-Day Gratitude Challenge Sheet
                        </h2>
                        <p class="text-lg text-gray-800">
                          Take a moment each day to reflect on what you're
                          grateful for. By focusing on what you're grateful for,
                          you can enhance your mental well-being and outlook on
                          life.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--==================== Why Gratitude Tree Kit Ends=========================-->

      <!--======= How to use the Gratitude Kit tree start here  ================ -->

      <section class="px-2 m-0 bg-white md:px-20 lg:px-16 xl:px-20">
        <h2 class="text-4xl py-4 font-semibold mb-4 text-center text-gray-800">
          How to Use Your Gratitude Tree Kit
        </h2>
        <ul
          class="timeline timeline-snap-icon pl-4 bg-white max-md:timeline-compact timeline-vertical"
        >
          <li class="">
            <div class="timeline-middle">
              <img
                class="object-cover object-center z-50"
                src="/images/assembling.png"
                width="100"
                alt="assembling the tree kit by sliding together"
              />
            </div>

            <div class="timeline-start lg:-mt-32">
              <h1
                class="lg:text-3xl mx-auto text-start mb-2 lg:mb-4 text-lg animate__animated animate__slideInLeft text-[#f87d1fa2] font-black"
              >
                Step 1: Assemble the Tree
              </h1>

              <p class="text-[#333333] text-sm text-start rounded-sm">
                Tree made up of 2 beautifully crafted MDF material pieces as
                both parts of the tree. Assemble the two pieces of tree by
                gently sliding the two pieces together and place it in a
                prominent spot in your Home.
              </p>
            </div>
            <hr class="lg:my-20 my-8 border-t-4 border-black" />
          </li>
          <li>
            <hr class="lg:my-16 my-8 z-50 border-t-8 border-black" />

            <div class="timeline-middle">
              <img
                class="object-contain z-50 object-center repeat"
                src="/images/Highlights/product3.jpg"
                width="100"
                alt=""
              />
            </div>
            <div class="timeline-end lg:-mt-40">
              <div
                class="lg:text-3xl mx-auto text-start lg:pl-2 mb-2 lg:mb-4 text-lg animate__animated animate__slideInRight text-[#f87d1fa2] font-black"
              >
                Step 2: Complete the Challenge
              </div>
              <p class="text-[#333333] pl-3 text-sm text-start rounded-sm">
                We have also included a 21-day gratitude challenge sheet to help
                you deepen your practice. In 21-day gratitude challenge sheet
                each day for 21 days , you will have a new prompt to reflect on
                and express gratitude for
              </p>
            </div>
            <hr class="lg:my-16 my-8 border-t-4 border-black" />
          </li>
          <li>
            <hr class="lg:my-16 my-8 border-t-4 border-black" />
            <div class="timeline-middle">
              <img
                class="object-cover object-center z-50"
                src="/images/hanging-leaves.png"
                width="100"
                alt=""
              />
            </div>
            <div class="timeline-start lg:-mt-32">
              <div
                class="lg:text-3xl mx-auto text-start mb-2 lg:mb-4 text-lg animate__animated animate__slideInLeft text-[#f87d1fa2] font-black"
              >
                Step 3: Hang the Leaves
              </div>
              <p class="text-[#333333] text-sm text-start rounded-sm">
                As per given prompt on each day for 21 days simply write down
                what you are thankful for on the leaves and hang them on the
                branches of gratitude tree, creating a visual representation of
                your Gratitude Journey.
              </p>
            </div>
            <hr class="lg:my-16 my-8 border-t-4 border-black" />
          </li>
          <li>
            <hr class="lg:my-16 my-8 border-t-4 border-black" />

            <div
              class="timeline-middle text-gray-800 rounded text-end mt-3 mb-5"
            >
              <div
                class="lg:text-lg bg-amber-500 rounded-full hover:bg-amber-600 hover:border-amber-700 px-9 py-3 animate__animated animate__bounce text-white font-black"
              >
                <a target="_blank" href="https://www.amazon.in/"
                  >Buy The Gratitude Tree Kit Now</a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- ========How to use the Gratitude Kit tree ends here ============== -->

      <!--==================== Testimonials start=========================-->

      <section class="bg-[#f5f2f2]" id="Testimonial" data-wow-delay="0.1s">
        <div class="py-5 px-8">
          <div
            class="text-center position-relative pb-3 mb-4 mx-auto"
            style="max-width: 600px"
          >
            <h5
              class="text-3xl font-semibold mb-4 text-center mt-4 text-gray-800"
            >
              Testimonial
            </h5>
            <h1 class="lg:mb-4 text-gray-700">
              What Our Clients Say About Our Services
            </h1>
          </div>
          <div
            class="owl-carousel testimonial-home testimonial-carousel wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="testimonial-item my-4">
              <div class="border-b pt-5 pb-4 px-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-full object-center object-contain h-20 w-20"
                      src="/images/client1.jpg"
                      alt="Profile picture"
                    />
                  </div>
                  <div class="ml-4">
                    <h4 class="text-primary mb-1">-----------</h4>
                    <p class="text-sm text-gray-600">
                      Graphic Designer
                    </p>
                  </div>
                </div>
              </div>
              <div class="pt-4 pb-5 px-5 text-justify">
                <p class="text-balck">
                  The Gratitude Tree Kit has been a game-changer in my daily
                  routine. It's a beautiful and meaningful way to cultivate a
                  habit of gratitude.
                </p>
              </div>
            </div>

            <div class="testimonial-item my-4">
              <div class="border-b pt-5 pb-4 px-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-full h-20 w-20"
                      src="/images/client2.png"
                      alt="Profile picture"
                    />
                  </div>
                  <div class="ml-4">
                    <h4 class="text-primary mb-1">Madhav Faldu</h4>
                    <p class="text-sm text-gray-600">
                      Web Developer 
                    </p>
                  </div>
                </div>
              </div>
              <div class="pt-4 pb-5 px-5 text-justify">
                <p class="text-balck">
                  This kit is a wonderful gift for anyone looking to bring more
                  positivity and mindfulness into their life. Highly recommend!
                </p>
              </div>
            </div>
            <div class="testimonial-item my-4">
              <div class="border-b pt-5 pb-4 px-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-full object-center object-contain h-20 w-20"
                      src="/images/client1.jpg"
                      alt="Profile picture"
                    />
                  </div>
                  <div class="ml-4">
                    <h4 class="text-primary mb-1">--------</h4>
                    <p class="text-sm text-gray-600">
                      Graphic Designer 
                    </p>
                  </div>
                </div>
              </div>
              <div class="pt-4 pb-5 px-5 text-justify">
                <p class="text-balck">
                  The Gratitude Tree Kit has been a game-changer in my daily
                  routine. It's a beautiful and meaningful way to cultivate a
                  habit of gratitude.
                </p>
              </div>
            </div>

            <div class="testimonial-item my-4">
              <div class="border-b pt-5 pb-4 px-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-full h-20 w-20"
                      src="/images/client3.png"
                      alt="Client 3 Image"
                    />
                  </div>
                  <div class="ml-4">
                    <h4 class="text-primary mb-1">Innocent Niyonzima</h4>
                    <p class="text-sm text-gray-600">
                      Computer Engineer
                    </p>
                  </div>
                </div>
              </div>
              <div class="pt-4 pb-5 px-5 text-justify">
                <p class="text-balck">
                  The Gratitude Tree Kit has transformed my outlook on life. I
                  now appreciate the little things and feel more content
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--==================== Testimonials ends=========================-->

      <!--==================== contact Us Starts=========================-->
      <div class="p-2 my-4">
        <div
          class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 lg:py-12 bg-amber-50"
        >
          <div class="mb-4">
            <div
              class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12"
            >
              <h2
                class="font-heading mb-4 font-bold tracking-tight text-black text-3xl sm:text-5xl"
              >
                Get in Touch
              </h2>
              <p class="mx-auto mt-4 max-w-3xl text-xl text-gray-600">
                We are more than happy to help you with any queries or concerns.
              </p>
            </div>
          </div>
          <div class="flex items-stretch justify-center">
            <div class="grid md:grid-cols-2">
              <div class="h-full pr-6">
                <p class="mt-3 mb-12 text-lg text-gray-600">
                  Shivcreation we really value your feedback and suggestions. If
                  you have any questions or comments, please feel free to
                  contact us. We will get back to you as soon as possible.
                </p>
                <ul class="mb-6 md:mb-0">
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                        <path
                          d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                        ></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Our Address
                      </h3>
                      <p class="text-gray-500">
                        504, Vardhman Heights, opposite Sadhu Vaswani school,
                        Sadhu Vaswani Road,
                      </p>
                      <p class="text-gray-600">
                        Rajkot - 360005, Gujarat, India
                      </p>
                    </div>
                  </li>
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path
                          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                        ></path>
                        <path d="M15 7a2 2 0 0 1 2 2"></path>
                        <path d="M15 3a6 6 0 0 1 6 6"></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Contact
                      </h3>
                      <p class="text-gray-500">
                        Mobile:
                        <a
                          class="hover:underline hover:text-blue-500"
                          href="tel: +91 90999 40095"
                          >+917990229965</a
                        >
                      </p>
                      <p class="text-gray-500">
                        Mail:
                        <a
                          class="hover:underline"
                          href="mailto:info@shivcreation.com"
                          >help@shivcreationworld.com</a
                        >
                      </p>
                    </div>
                  </li>
                  <li class="flex">
                    <div
                      class="flex h-10 w-10 items-center justify-center rounded bg-[#F89D1C] text-gray-50"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-6 w-6"
                      >
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M12 7v5l3 3"></path>
                      </svg>
                    </div>
                    <div class="ml-4 mb-4">
                      <h3 class="mb-2 text-lg font-medium leading-6 text-black">
                        Working hours
                      </h3>
                      <p class="text-gray-600">
                        Monday - Friday: 10:00 AM - 06:00 PM ( IST)
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card h-fit max-w-6xl p-5 md:p-12" id="form">
                <h2 class="mb-4 text-2xl text-black font-bold">
                  Ready to Get Started?
                </h2>
                <!-- feedback div after submitting the form  -->
                <div
                  id="feedback"
                  class="text-center p-1 rounded-sm text-white"
                ></div>
                <form
                  method="post"
                  action="messages"
                  id="contact-us"
                  class="ml-auo space-y-4"
                >
                  <input
                    type="text"
                    placeholder="Name"
                    name="sender"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <input
                    type="text"
                    name="subject"
                    placeholder="Subject"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  />
                  <textarea
                    placeholder="Message"
                    rows="6"
                    name="content"
                    class="w-full bg-white shadow-lg rounded-md py-2.5 px-4 border border-[#F89D1C] text-sm outline-[#F89D1C]"
                  ></textarea>
                  <button
                    type="submit"
                    class="text-white bg-[#F89D1C] hover:bg-blue-600 font-semibold rounded-md text-sm px-4 py-2.5 w-full"
                  >
                    Send
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--==================== contact Us Ends=========================-->
      <!-- another section  -->
    </main>

    <!--==================== Footer starts=========================-->
    <%- include('./partials/footer.ejs') %>
    <!--==================== Footer ends=========================-->
  </body>
  <script defer src="/javascripts/main.js"></script>
  <script src="/javascripts/hero.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.getElementById('contact-us')
      const feedbackDiv = document.getElementById('feedback')
      console.log(form)
      form.addEventListener('submit', (e) => {
        e.preventDefault()
        const formData = new FormData(form)
        const sender = formData.get('sender')
        const email = formData.get('email')
        const subject = formData.get('subject')
        const content = formData.get('content')
        const message = {
          sender,
          email,
          subject,
          content,
        }
        // Create a new XMLHttpRequest object
        const xhr = new XMLHttpRequest()
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200 || xhr.status === 201) {
              // Create the paragraph element
              const successMessage = document.createElement('p')
              successMessage.classList.add(
                'text-2xl',
                'text-green-500',
                'bg-amber-500',
                'p-2',
                'rounded-md',
                'font-extralight',
                'animate__animated',
                'animate__pulse',
                'animate__faster',
                'animate__infinite',
              )
              successMessage.textContent = 'The message is sent successfully.'
              // Append the paragraph element to the feedbackDiv
              feedbackDiv.appendChild(successMessage)
              form.reset()
            } else {
              console.error('Request failed:', xhr.status)
            }
          }
        }

        // Configure the request
        xhr.open('POST', 'http://localhost:3000/messages/')
        xhr.setRequestHeader('Content-Type', 'application/json')

        // Send the request with JSON data
        xhr.send(JSON.stringify(message))
      })
    })
  </script>
</html>
