<html>
  <!-- include head.ejs -->
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="lg:mx-8">
      <div class="bg-[#F89D1C] m-24">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eligendi
        saepe quas nostrum, laboriosam, illo fuga iure cupiditate totam minima
        quisquam repellat, sit optio eius corporis reiciendis tenetur animi
        quis!
      </div>

      <div class="bg-[#FDCD47] p-24">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus in
        est officia, ut quia id adipisci! Atque debitis ducimus repellendus
        suscipit quis ipsa. Est hic maiores facere iste eius vitae.
      </div>
    </main>

    <!--==================== Footer starts=========================-->
    <%- include('./partials/footer.ejs') %>
    <!--==================== Footer ends=========================-->
  </body>
  <script src="/javascripts/main.js"></script>
</html>
