<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- frame start -->
    <div class="w-full swiper-slide" title="Gratitude Tree Kit with Leaves">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/5 mb-4 md:mb-0 md:ml-8 overflow-hidden">
          <img
            class="w-full h-auto md:max-h-none max-h-96"
            src="/images/New_Tree_Leaves.jpg"
            alt="Gratitude Tree Kit"
          />
        </div>
        <div
          class="sub w-full my-auto overflow-auto md:overflow-visible relative"
        >
          <div class="head text-5xl m-5 p-4 text-[#E56F3F] font-bold">
            Gratitude Tree Kit
          </div>
          <div class="long-text text-[#333333] text-lg m-5 p-4">
            <h1 class="ml11">
              <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Hello Goodbye</span>
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- frame end -->

    <!-- frame start -->
    <div class="w-full swiper-slide" title="Gratitude Tree Kit No leaves">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/5 mb-4 md:mb-0 overflow-hidden">
          <img
            class="w-full h-auto md:max-h-none max-h-96"
            src="/images/New_Tree_No_Leaves.jpg"
            alt="Gratitude Tree Kit"
          />
        </div>
        <div class="sub w-full my-auto overflow-auto md:overflow-visible">
          <div class="head text-5xl m-5 p-4 text-[#E56F3F] font-bold">
            Tree without Leaves
          </div>
          <div class="long-text text-[#333333] text-lg m-5 p-4">
            The Tree without leaves (a fresh), you put your gratitudes leaves on
            it after realizing all those blessings you are bestowed with. the
            leaves are also provided blank.
          </div>
        </div>
      </div>
    </div>
    <!-- frame end -->

    <div class="w-full swiper-slide" title="Gratitude Tree Kit No leaves">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/5 mb-4 md:mb-0 overflow-hidden">
          <img
            class="w-full h-auto md:max-h-none max-h-96"
            src="/images/New_Leaves.jpg"
            alt="Gratitude Tree Kit"
          />
        </div>
        <div class="sub w-full my-auto overflow-auto md:overflow-visible">
          <div class="head text-5xl m-5 p-4 text-[#E56F3F] font-bold">
            Tree without Leaves
          </div>
          <div class="long-text text-[#333333] text-lg m-5 p-4">
            The Tree without leaves (a fresh), you put your gratitudes leaves on
            it after realizing all those blessings you are bestowed with. the
            leaves are also provided blank.
          </div>
        </div>
      </div>
    </div>
    <!-- frame end -->
  </div>

  <div class="swiper-pagination p-8"></div>
</div>
