.fancy-border {
  --offset: .2rem;
   width: 200px;  
   position: relative;
  text-align: center;
  overflow: hidden;
}

/* Conic gradient */
.fancy-border::before {
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy-border::after {
    content: "Buy Now";
    font-size: 1.5rem !important;
  background: inherit;
  border-radius: inherit;
    position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));

}

.fancy-border .mybutton {
  color: white;
  inset: 0;
  
  z-index: 10;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
