/*  Path: public/stylesheets/swiper.css 
 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
  box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.active {
  color: #e56f3f;
}
.swiper-slide {
  width: 100%;
  height: max-content !important;
  text-align: center;
  font-size: 18px;
  display: flex; 

}

.swiper-pagination {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; 
  z-index: 1111;
}

.swiper-pagination-bullet {
  background-color: rgb(0, 0, 0);
  padding: 0.4rem;
}

.swiper-pagination-bullet-active {
  background-color: #e56f3f;
  padding: 1rem;
}

.autoplay-progress {
  margin-top: 2rem;
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 1111;
  width: 100%;
  height: 8px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: start;
  transform: scaleX(-1);
  font-weight: bold;
}

.autoplay-progress span {
  color: white;
  font-size: 12px;
  padding: 0 10px;
}

/*  media query for small screen */
@media (max-width: 768px) {
  .swiper-slide  {
    margin: 0;
    padding: 0;
    background-color: #f1f5f9 !important;
    height: max-content;
  }
  .swiper-pagination {
    margin-top: 2rem !important;
  }
}