<!-- sidebar -->
<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 mt-24 shadow-2xl h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    class="h-full px-5 py-4 overflow-y-auto bg-white border-r-8 border-gray-400 text-black shadow-2xl"
  >
    <ul class="space-y-2 font-bold">
      <li>
        <a
          href="/shiv/dashboard"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="blue"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Dashboard</span>
        </a>
      </li>

      <!-- blogs Management -->
      <li>
        <a
          href="/shiv/blogs"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 392.598 392.598"
            xml:space="preserve"
            width="25px"
            height="25px"
            fill="#f50a0a"
            stroke="#f50a0a"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                style="fill: #ffffff"
                d="M359.855,21.786H32.743c-6.012,0-10.925,4.848-10.925,10.925v327.111 c0,6.012,4.848,10.925,10.925,10.925h327.111c6.012,0,10.925-4.848,10.925-10.925V32.711 C370.78,26.699,365.867,21.786,359.855,21.786z"
              ></path>
              <rect
                x="43.604"
                y="43.055"
                style="fill: #00ff00"
                width="305.325"
                height="77.576"
              ></rect>
              <g>
                <path
                  style="fill: #0000ff"
                  d="M326.497,170.408H66.101c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h260.331c6.012,0,10.925,4.848,10.925,10.925C337.422,165.495,332.509,170.408,326.497,170.408z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,207.644H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C185.244,202.667,180.396,207.644,174.384,207.644z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,251.41H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.077,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C185.244,246.562,180.396,251.41,174.384,251.41z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,295.305H66.166c-6.012,0-10.925-4.848-10.925-10.925s4.848-10.925,10.925-10.925h108.154 c6.012,0,10.925,4.848,10.925,10.925C185.244,290.392,180.396,295.305,174.384,295.305z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,339.135H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925S180.396,339.135,174.384,339.135z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,207.644H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C331.604,202.667,326.756,207.644,320.679,207.644z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,251.41H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.077,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C331.604,246.562,326.756,251.41,320.679,251.41z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,295.305H212.525c-6.012,0-10.925-4.848-10.925-10.925s4.848-10.925,10.925-10.925h108.154 c6.012,0,10.925,4.848,10.925,10.925C331.604,290.392,326.756,295.305,320.679,295.305z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,339.135H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925S326.756,339.135,320.679,339.135z"
                ></path>
                <polygon
                  style="fill: #0000ff"
                  points="103.596,91.41 71.984,49.972 58.537,49.972 58.537,114.36 72.889,114.36 72.889,74.02 103.596,114.36 117.947,114.36 117.947,49.972 103.596,49.972 "
                ></polygon>
                <polygon
                  style="fill: #0000ff"
                  points="148.137,88.307 176.97,88.307 176.97,76.024 148.137,76.024 148.137,62.707 180.202,62.707 180.202,49.972 133.786,49.972 133.786,114.36 181.236,114.36 181.236,101.689 148.137,101.689 "
                ></polygon>
                <polygon
                  style="fill: #0000ff"
                  points="251.96,87.014 240.582,49.972 225.584,49.972 214.141,87.014 201.406,49.972 185.891,49.972 208.323,114.36 218.99,114.36 233.018,69.624 247.176,114.36 257.778,114.36 280.275,49.972 264.76,49.972 "
                ></polygon>
                <path
                  style="fill: #0000ff"
                  d="M314.731,75.701c-7.887-2.069-14.545-3.491-14.222-8.404c0.259-3.943,2.844-5.947,7.758-6.271 c5.947,0,11.766,2.069,17.325,6.335l7.24-10.537c-6.659-5.43-14.675-8.275-24.113-8.469c-13.899,0.129-22.885,7.37-23.014,19.071 c-0.065,11.636,7.37,17.648,21.657,20.428c6.335,1.422,11.96,3.168,11.895,8.016c-0.323,4.331-3.556,6.077-8.469,6.335 c-5.883,0-12.283-3.038-19.265-9.115l-8.598,10.537c8.21,7.564,17.39,11.378,27.604,11.378c13.964-0.711,22.82-6.271,23.596-19.459 C334.836,84.558,326.95,78.804,314.731,75.701z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M359.855,0H32.743C14.707,0,0.032,14.675,0.032,32.711v327.111 c0,18.101,14.675,32.776,32.711,32.776h327.111c18.036,0,32.711-14.675,32.711-32.711V32.711C392.566,14.675,377.891,0,359.855,0z M370.78,359.822c0,6.012-4.848,10.925-10.925,10.925H32.743c-6.012,0-10.925-4.848-10.925-10.925V32.711 c0-6.012,4.848-10.925,10.925-10.925h327.111c6.012,0,10.925,4.848,10.925,10.925V359.822L370.78,359.822z"
                ></path>
              </g>
            </g>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Blogs</span>
        </a>
      </li>
      <!-- Inquiries  -->
      <li>
        <a
          href="/shiv/messages"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            width="25px"
            height="25px"
            viewBox="0 0 960 960"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M288.152 601.937C235.508 648.585 186.371 697.952 125.625 734.413C111.419 743.165 90.7952 749.824 77.6772 735.402C64.1912 721.346 72.1022 702.174 81.1212 688.141C101.503 654.411 124.094 622.858 141.343 587.191C47.6342 564.087 59.8662 456.485 63.0542 381.043C66.6162 335.86 67.3062 289.3 84.4522 246.693C101.449 200.566 155.143 183.149 200.546 183.337C283.164 184.776 366.069 183.412 448.502 189.393C508.4 194.593 549.683 215.707 551.359 281.719C651.904 295.35 837.843 249.561 858.103 390.532C865.276 474.837 876.494 562.407 855.593 645.387C847.723 675.09 824.337 689.923 794.989 695.472C805.309 744.198 825.228 791.747 827.661 841.657C819.599 906.598 758.553 852.216 732.715 830.401C696.052 799.562 660.102 767.875 623.816 736.586C607.999 725.794 594.905 703.488 573.228 709.022C470.104 728.478 295.381 747.847 288.152 601.937ZM776.462 805.791C768.851 770.898 757.575 737.428 747.995 703.061C736.306 669.856 760.776 651.597 791.28 648.092C803.766 646.289 810.679 638.693 812.659 626.889C826.961 552.663 819.148 476.441 812.425 401.738C809.022 364.359 795.247 352.038 759.638 342.271C646.582 321.815 531.414 338.531 417.271 337.747C355.033 336.982 346.643 391.616 340.669 441.286C337.722 467.047 335.914 492.992 334.895 518.909C335.212 568.903 320.991 650.464 383.603 667.251C399.509 671.526 416.248 673.898 432.722 674.623C680.438 670.11 537.715 611.587 776.462 805.791ZM509.44 282.274C509.211 261.272 501.877 242.03 476.784 238.182C388.558 223.485 298.609 231.041 209.553 228.638C104.272 226.571 118.669 303.373 110.248 382.076C109.046 416.793 108.837 451.687 110.949 486.338C113.085 521.381 124.286 532.649 157.993 541.765C219.46 557.324 176.578 620.21 158.496 655.172C192.52 635.068 249.987 554.904 286.385 553.847C299.573 361.389 281.296 281.152 509.44 282.274Z"
                fill="#0000ff"
              ></path>
              <path
                d="M381.812 912.166C384.332 886.627 386.926 861.095 389.337 835.546C392.399 813.01 385.982 769.893 418.518 770.771C432.298 771.684 443.014 783.77 441.451 799.346C437.004 843.66 431.811 887.903 426.521 932.127C425.261 942.658 416.409 950.034 406.478 950.591C384.788 951.439 381.399 929.563 383.104 912.246C382.674 912.219 382.243 912.192 381.812 912.166Z"
                fill="#0000ff"
              ></path>
              <path
                d="M662.318 76.9453C701.308 79.7963 687.961 111.481 674.755 132.921C662.968 157.178 651.4 181.542 639.468 205.727C633.921 218.733 621.681 234.86 606.215 226.734C593.692 221.039 592.996 204.979 598.626 193.723C613.997 159.482 629.384 125.246 645.132 91.1763C649.187 82.4053 656.428 77.1173 662.318 76.9453Z"
                fill="#0000ff"
              ></path>
              <path
                d="M535.355 149.796C537.399 175.376 505.714 184.733 495.989 162.349C488.124 141.998 480.836 121.366 474.601 100.464C466.813 73.1709 508.647 59.3279 519.143 85.8289C527.196 105.465 530.789 130.768 535.355 149.796Z"
                fill="#0000ff"
              ></path>
              <path
                d="M313.174 748.827C308.023 764.425 290.39 778.041 277.302 788.394C254.765 807.387 225.564 778.1 245.09 755.863C253.585 745.625 262.845 735.864 272.769 727.015C289.17 712.867 314.404 724.26 313.174 748.827Z"
                fill="#0000ff"
              ></path>
              <path
                d="M700.688 260.833C675.835 259.659 671.395 227.766 693.338 218.132C713.226 208.978 746.743 180.459 762.054 208.561C767.533 219.662 762.544 232.768 749.639 239.475C733.591 247.119 718.096 256.639 700.688 260.833Z"
                fill="#0000ff"
              ></path>
              <path
                d="M570.949 817.842C571.008 842.084 538.873 847.73 527.925 827.798C515.494 809.07 493.098 779.059 520.202 763.102C532.691 756.197 548.894 760.697 555.684 774.516C561.476 788.305 568.741 803.042 570.949 817.842Z"
                fill="#0000ff"
              ></path>
              <path
                d="M776.463 805.79C537.624 611.55 680.564 670.122 432.724 674.626C416.248 673.898 399.51 671.525 383.606 667.25C320.918 650.441 335.33 568.927 334.894 518.91C335.915 492.992 337.722 467.047 340.668 441.285C346.699 391.737 354.913 336.957 417.273 337.753C531.415 338.529 646.58 321.819 759.639 342.268C795.217 352.087 809.038 364.329 812.423 401.739C819.154 476.438 826.958 552.666 812.662 626.889C810.68 638.693 803.767 646.289 791.28 648.091C760.67 651.53 736.4 669.919 747.997 703.062C757.579 737.433 768.844 770.882 776.463 805.79Z"
                fill="white"
              ></path>
              <path
                d="M509.442 282.274C281.049 281.106 299.61 361.791 286.388 553.847C250.056 554.857 192.452 635.124 158.499 655.172C176.569 620.286 219.466 557.286 157.994 541.765C124.289 532.649 113.088 521.381 110.952 486.338C108.84 451.687 109.049 416.793 110.251 382.075C118.677 303.414 104.262 226.561 209.555 228.643C298.612 231.04 388.557 223.487 476.786 238.18C501.879 242.031 509.213 261.272 509.442 282.274Z"
                fill="#0000ff"
              ></path>
            </g>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Messages</span>
        </a>
      </li>
      <li>
        <a
          href="/shiv/subs"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 392.598 392.598"
            xml:space="preserve"
            width="25px"
            height="25px"
            fill="#f50a0a"
            stroke="#f50a0a"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                style="fill: #ffffff"
                d="M359.855,21.786H32.743c-6.012,0-10.925,4.848-10.925,10.925v327.111 c0,6.012,4.848,10.925,10.925,10.925h327.111c6.012,0,10.925-4.848,10.925-10.925V32.711 C370.78,26.699,365.867,21.786,359.855,21.786z"
              ></path>
              <rect
                x="43.604"
                y="43.055"
                style="fill: #00ff00"
                width="305.325"
                height="77.576"
              ></rect>
              <g>
                <path
                  style="fill: #0000ff"
                  d="M326.497,170.408H66.101c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h260.331c6.012,0,10.925,4.848,10.925,10.925C337.422,165.495,332.509,170.408,326.497,170.408z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,207.644H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C185.244,202.667,180.396,207.644,174.384,207.644z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,251.41H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.077,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C185.244,246.562,180.396,251.41,174.384,251.41z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,295.305H66.166c-6.012,0-10.925-4.848-10.925-10.925s4.848-10.925,10.925-10.925h108.154 c6.012,0,10.925,4.848,10.925,10.925C185.244,290.392,180.396,295.305,174.384,295.305z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M174.384,339.135H66.166c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925S180.396,339.135,174.384,339.135z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,207.644H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C331.604,202.667,326.756,207.644,320.679,207.644z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,251.41H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.077,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925C331.604,246.562,326.756,251.41,320.679,251.41z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,295.305H212.525c-6.012,0-10.925-4.848-10.925-10.925s4.848-10.925,10.925-10.925h108.154 c6.012,0,10.925,4.848,10.925,10.925C331.604,290.392,326.756,295.305,320.679,295.305z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M320.679,339.135H212.525c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925 h108.154c6.012,0,10.925,4.848,10.925,10.925S326.756,339.135,320.679,339.135z"
                ></path>
                <polygon
                  style="fill: #0000ff"
                  points="103.596,91.41 71.984,49.972 58.537,49.972 58.537,114.36 72.889,114.36 72.889,74.02 103.596,114.36 117.947,114.36 117.947,49.972 103.596,49.972 "
                ></polygon>
                <polygon
                  style="fill: #0000ff"
                  points="148.137,88.307 176.97,88.307 176.97,76.024 148.137,76.024 148.137,62.707 180.202,62.707 180.202,49.972 133.786,49.972 133.786,114.36 181.236,114.36 181.236,101.689 148.137,101.689 "
                ></polygon>
                <polygon
                  style="fill: #0000ff"
                  points="251.96,87.014 240.582,49.972 225.584,49.972 214.141,87.014 201.406,49.972 185.891,49.972 208.323,114.36 218.99,114.36 233.018,69.624 247.176,114.36 257.778,114.36 280.275,49.972 264.76,49.972 "
                ></polygon>
                <path
                  style="fill: #0000ff"
                  d="M314.731,75.701c-7.887-2.069-14.545-3.491-14.222-8.404c0.259-3.943,2.844-5.947,7.758-6.271 c5.947,0,11.766,2.069,17.325,6.335l7.24-10.537c-6.659-5.43-14.675-8.275-24.113-8.469c-13.899,0.129-22.885,7.37-23.014,19.071 c-0.065,11.636,7.37,17.648,21.657,20.428c6.335,1.422,11.96,3.168,11.895,8.016c-0.323,4.331-3.556,6.077-8.469,6.335 c-5.883,0-12.283-3.038-19.265-9.115l-8.598,10.537c8.21,7.564,17.39,11.378,27.604,11.378c13.964-0.711,22.82-6.271,23.596-19.459 C334.836,84.558,326.95,78.804,314.731,75.701z"
                ></path>
                <path
                  style="fill: #0000ff"
                  d="M359.855,0H32.743C14.707,0,0.032,14.675,0.032,32.711v327.111 c0,18.101,14.675,32.776,32.711,32.776h327.111c18.036,0,32.711-14.675,32.711-32.711V32.711C392.566,14.675,377.891,0,359.855,0z M370.78,359.822c0,6.012-4.848,10.925-10.925,10.925H32.743c-6.012,0-10.925-4.848-10.925-10.925V32.711 c0-6.012,4.848-10.925,10.925-10.925h327.111c6.012,0,10.925,4.848,10.925,10.925V359.822L370.78,359.822z"
                ></path>
              </g>
            </g>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Subscribers</span>
        </a>
      </li>

      <!-- settings  -->
      <li>
        <a
          href="/shiv/setting"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            width="25px"
            height="25px"
            viewBox="0 0 1024 1024"
            class="icon"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M897.28 597.76l-74.24-53.76c1.28-10.24 1.28-21.76 1.28-32 0-11.52 0-21.76-1.28-32l74.24-53.76c12.8-7.68 16.64-23.04 8.96-34.56l-90.88-154.88c-7.68-12.8-23.04-16.64-35.84-8.96l-84.48 37.12c-17.92-12.8-37.12-23.04-57.6-32l-7.68-92.16c0-14.08-11.52-25.6-25.6-25.6H422.4c-14.08 0-25.6 11.52-25.6 25.6l-8.96 90.88c-20.48 8.96-39.68 19.2-57.6 32l-84.48-37.12c-12.8-7.68-28.16-2.56-35.84 8.96l-89.6 156.16c-7.68 12.8-2.56 28.16 8.96 34.56l74.24 53.76c-1.28 10.24-1.28 21.76-1.28 32s0 21.76 1.28 32l-74.24 53.76c-12.8 7.68-16.64 23.04-8.96 34.56l90.88 154.88c7.68 12.8 23.04 16.64 35.84 8.96l84.48-37.12c17.92 12.8 37.12 23.04 57.6 32L396.8 883.2c0 14.08 11.52 25.6 25.6 25.6h181.76c14.08 0 25.6-11.52 25.6-25.6l8.96-90.88c20.48-8.96 39.68-19.2 57.6-32l84.48 37.12c12.8 7.68 28.16 2.56 35.84-8.96l90.88-154.88c6.4-12.8 1.28-28.16-10.24-35.84z m-384 65.28c-84.48 0-153.6-67.84-153.6-151.04s69.12-151.04 153.6-151.04 153.6 67.84 153.6 151.04-69.12 151.04-153.6 151.04z"
                fill="#0000ff"
              ></path>
              <path
                d="M604.16 921.6H422.4c-20.48 0-38.4-16.64-38.4-37.12l-8.96-81.92c-16.64-7.68-32-16.64-46.08-26.88l-76.8 34.56c-17.92 10.24-42.24 3.84-52.48-14.08L108.8 638.72c-5.12-8.96-6.4-19.2-3.84-29.44 2.56-10.24 8.96-17.92 17.92-23.04l67.84-48.64c-1.28-8.96-1.28-17.92-1.28-26.88s0-17.92 1.28-26.88L122.88 435.2c-8.96-5.12-15.36-12.8-17.92-23.04-2.56-10.24-1.28-20.48 3.84-29.44l90.88-154.88c10.24-17.92 33.28-24.32 52.48-14.08l76.8 34.56c14.08-10.24 30.72-19.2 46.08-26.88l8.96-81.92C384 119.04 400.64 102.4 422.4 102.4h181.76c20.48 0 38.4 16.64 38.4 37.12l8.96 81.92c16.64 7.68 32 16.64 46.08 26.88l76.8-34.56c17.92-10.24 42.24-3.84 52.48 14.08l90.88 154.88c5.12 8.96 6.4 19.2 3.84 29.44-2.56 10.24-8.96 17.92-17.92 23.04l-67.84 48.64c1.28 8.96 1.28 17.92 1.28 26.88 0 8.96 0 17.92-1.28 26.88l67.84 48.64c8.96 5.12 15.36 12.8 17.92 23.04 2.56 10.24 1.28 20.48-3.84 29.44L826.88 793.6c-10.24 17.92-33.28 24.32-52.48 14.08l-76.8-34.56c-14.08 10.24-30.72 19.2-46.08 26.88l-8.96 81.92c0 23.04-17.92 39.68-38.4 39.68zM330.24 747.52c2.56 0 5.12 1.28 7.68 2.56 16.64 12.8 35.84 23.04 55.04 30.72 3.84 1.28 7.68 6.4 7.68 10.24l8.96 90.88v1.28c0 7.68 6.4 12.8 12.8 12.8h181.76c7.68 0 12.8-5.12 12.8-12.8v-1.28l8.96-90.88c0-5.12 3.84-8.96 7.68-10.24 19.2-8.96 37.12-19.2 55.04-30.72 3.84-2.56 8.96-2.56 12.8-1.28l84.48 37.12h1.28c6.4 3.84 14.08 1.28 17.92-5.12L896 625.92c1.28-2.56 2.56-6.4 1.28-8.96-1.28-3.84-2.56-6.4-6.4-7.68 0 0-1.28 0-1.28-1.28l-74.24-53.76c-3.84-2.56-6.4-7.68-5.12-11.52 1.28-10.24 1.28-20.48 1.28-30.72 0-10.24 0-20.48-1.28-30.72 0-5.12 1.28-8.96 5.12-11.52l74.24-53.76s1.28 0 1.28-1.28c2.56-1.28 5.12-5.12 6.4-7.68 1.28-3.84 0-6.4-1.28-8.96L805.12 243.2c-3.84-6.4-11.52-7.68-17.92-5.12h-1.28l-84.48 37.12c-3.84 1.28-8.96 1.28-12.8-1.28-16.64-12.8-35.84-23.04-55.04-30.72-3.84-1.28-7.68-6.4-7.68-10.24l-8.96-90.88V140.8c0-7.68-6.4-12.8-12.8-12.8H422.4c-7.68 0-12.8 5.12-12.8 12.8v1.28l-8.96 90.88c0 5.12-3.84 8.96-7.68 10.24-19.2 8.96-37.12 19.2-55.04 30.72-3.84 2.56-8.96 2.56-12.8 1.28l-84.48-37.12h-1.28c-6.4-3.84-14.08-1.28-17.92 5.12l-90.88 154.88c-1.28 2.56-2.56 6.4-1.28 8.96 1.28 3.84 2.56 6.4 6.4 7.68 0 0 1.28 0 1.28 1.28l74.24 53.76c3.84 2.56 6.4 7.68 5.12 11.52-1.28 10.24-1.28 20.48-1.28 30.72s0 20.48 1.28 30.72c0 5.12-1.28 8.96-5.12 11.52l-74.24 53.76s-1.28 0-1.28 1.28c-2.56 1.28-5.12 5.12-6.4 7.68-1.28 3.84 0 6.4 1.28 8.96L221.44 780.8c3.84 6.4 11.52 7.68 17.92 5.12h1.28l84.48-37.12c1.28-1.28 2.56-1.28 5.12-1.28z m183.04-71.68c-92.16 0-166.4-74.24-166.4-163.84s74.24-163.84 166.4-163.84 166.4 74.24 166.4 163.84-75.52 163.84-166.4 163.84z m0-302.08c-78.08 0-140.8 62.72-140.8 138.24 0 76.8 62.72 138.24 140.8 138.24s140.8-62.72 140.8-138.24c0-76.8-64-138.24-140.8-138.24z"
                fill="#231C1C"
              ></path>
              <path
                d="M513.28 332.8C413.44 332.8 332.8 413.44 332.8 512s80.64 179.2 180.48 179.2 180.48-80.64 180.48-179.2-81.92-179.2-180.48-179.2z m0 281.6c-57.6 0-103.68-46.08-103.68-102.4s46.08-102.4 103.68-102.4 103.68 46.08 103.68 102.4-47.36 102.4-103.68 102.4z"
                fill="#00e000"
              ></path>
              <path
                d="M513.28 704C407.04 704 320 618.24 320 512s87.04-192 193.28-192 193.28 85.76 193.28 192c-1.28 106.24-87.04 192-193.28 192z m0-358.4C421.12 345.6 345.6 419.84 345.6 512s75.52 166.4 167.68 166.4c92.16 0 167.68-74.24 167.68-166.4-1.28-92.16-75.52-166.4-167.68-166.4z m0 281.6c-64 0-116.48-51.2-116.48-115.2s52.48-115.2 116.48-115.2 116.48 51.2 116.48 115.2-52.48 115.2-116.48 115.2z m0-204.8c-49.92 0-90.88 39.68-90.88 89.6s40.96 89.6 90.88 89.6c49.92 0 90.88-39.68 90.88-89.6s-40.96-89.6-90.88-89.6z"
                fill="#231C1C"
              ></path>
            </g>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
        </a>
      </li>
      <!-- Logout -->
      <li>
        <a
          id="logout"
          href="/shiv/logout"
          class="flex gap-2 items-center p-2 text-gray-900 rounded-lg hover:bg-blue-500 rounded-r-full group"
        >
          <svg
            width="25px"
            height="25px"
            viewBox="0 -0.5 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M11.75 9.874C11.75 10.2882 12.0858 10.624 12.5 10.624C12.9142 10.624 13.25 10.2882 13.25 9.874H11.75ZM13.25 4C13.25 3.58579 12.9142 3.25 12.5 3.25C12.0858 3.25 11.75 3.58579 11.75 4H13.25ZM9.81082 6.66156C10.1878 6.48991 10.3542 6.04515 10.1826 5.66818C10.0109 5.29121 9.56615 5.12478 9.18918 5.29644L9.81082 6.66156ZM5.5 12.16L4.7499 12.1561L4.75005 12.1687L5.5 12.16ZM12.5 19L12.5086 18.25C12.5029 18.25 12.4971 18.25 12.4914 18.25L12.5 19ZM19.5 12.16L20.2501 12.1687L20.25 12.1561L19.5 12.16ZM15.8108 5.29644C15.4338 5.12478 14.9891 5.29121 14.8174 5.66818C14.6458 6.04515 14.8122 6.48991 15.1892 6.66156L15.8108 5.29644ZM13.25 9.874V4H11.75V9.874H13.25ZM9.18918 5.29644C6.49843 6.52171 4.7655 9.19951 4.75001 12.1561L6.24999 12.1639C6.26242 9.79237 7.65246 7.6444 9.81082 6.66156L9.18918 5.29644ZM4.75005 12.1687C4.79935 16.4046 8.27278 19.7986 12.5086 19.75L12.4914 18.25C9.08384 18.2892 6.28961 15.5588 6.24995 12.1513L4.75005 12.1687ZM12.4914 19.75C16.7272 19.7986 20.2007 16.4046 20.2499 12.1687L18.7501 12.1513C18.7104 15.5588 15.9162 18.2892 12.5086 18.25L12.4914 19.75ZM20.25 12.1561C20.2345 9.19951 18.5016 6.52171 15.8108 5.29644L15.1892 6.66156C17.3475 7.6444 18.7376 9.79237 18.75 12.1639L20.25 12.1561Z"
                fill="#0000ff"
              ></path>
            </g>
          </svg>
          <span id="logout" class="flex-1 ms-3 whitespace-nowrap">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<style>
  .highlight {
    background-color: yellow;
  }
</style>
